<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Agendamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../styles/appointment.css"
    />
    <script src="../scripts/appointment.js"></script>
  </head>
  <body>
    <h2>Agendamentos</h2>

    <div class="container">
      <form action="/" method="POST">
        <div class="row">
          <div class="col-label">
            <label for="app_date">Data:</label>
          </div>
          <div class="col-input">
            <input type="datetime-local" id="app_date" name="app_date" />
          </div>
        </div>

        <div class="row">
          <div class="col-label">
            <label for="app_state">Status:</label>
          </div>
          <div class="col-input">
            <select id="app_state" name="app_state">
              <option value="volvo">Iniciado</option>
              <option value="saab">Agendado</option>
              <option value="fiat">Concluido</option>
              <option value="audi">Pago</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-label">
            <label for="app_doc_name">Nome do médico:</label>
          </div>
          <div class="col-input">
            <input type="text" id="app_doc_name" name="app_doc_name" />
          </div>
        </div>

        <div class="row">
          <div class="col-label">
            <label for="app_client">Nome do cliente:</label>
          </div>
          <div class="col-input">
            <input type="search" id="app_client" name="app_client" />
          </div>
        </div>

        <div class="row">
          <div class="col-label">
            <label for="app_value">Valor:</label>
          </div>
          <div class="col-input">
            <input
              type="number"
              min="0"
              step="0.1"
              id="app_value"
              name="app_value"
            />
          </div>
        </div>

        <div class="row">
          <input type="submit" value="Agendar" />
        </div>
      </form>
    </div>

    <br /><br /><br /><br />

    <!-- <table>
        <tr>
          <th style="width: 100px;">Header 1</th>
          <th style="width: 100px;">Header 2</th>
          <th style="width: 100px;">Header 3</th>
        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
        </tr>
      </table> -->

    <div class="container-table">
      <!-- <script src="../scripts/appointment.js"></script> -->
      <table class="table">
        <thead>
          <th>Data</th>
          <th>Status</th>
          <th>Nome do médico</th>
          <th>Nome do cliente</th>
          <th>Valor</th>
        </thead>
        <tbody></tbody>
      </table>
      <script id="tmplLinha" type="text/template">
        <tr>
          <td>{{appointment_date}}</td>
          <td>{{appointment_state}}</td>
          <td>{{doctor_name}}</td>
          <td>{{cust_name}}</td>
          <td>{{appointment_value}}</td>
        </tr>
      </script>
    </div>
  </body>
</html>
